BODY
{
  background-color: black;
  color: white;
  margin: 0;
}
*
{
  -webkit-user-select: none;
}
input[type=text], input[type=password], input[type=number]
{
  -webkit-user-select: text;
}
.clear
{
	position: relative;
	clear: both;
}

#ToolBar
{
  background: url(css/vader/images/ui-bg_highlight-hard_15_888888_1x100.png);
  background-size: 100% 100%;
  margin: 0;
  font-size: 12px;
  position: relative;
  z-index: 100;
}
#ToolBar li
{
  margin: 2px;
  position: relative;
  padding: 2px 4px 2px 2px;
  cursor: pointer;
  float: left;
  list-style: none;
}
#ToolBar span.ui-icon
{
  float: left;
  margin: 0 2px 0 0;
}

#Container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 26px;
  -webkit-box-sizing: border-box;
}

#SideBar
{
  width: 300px;
  height: 100%;
  float: left;
  z-index: -1;
}
#Overview
{
  height: 50%;
  padding: 0;
  -webkit-box-sizing: border-box;
}
#Elements
{
  height: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
}
.functions, .components, .templates, .Logics
{
  font-size: 14px;
  padding: 2px;
}
.functions
{
  border: 1px solid #404040;
  background: #121212 url(css/vader/images/ui-bg_gloss-wave_16_121212_500x100.png) 50% top repeat-x;
  background-size: 100% 100%;
  color: #eeeeee;
}
.components
{
  border: 1px solid #404040;
  background: #121212 url(css/vader/images/ui-bg_gloss-wave_16_121212_500x100.png) 50% top repeat-x;
  background-size: 100% 100%;
  color: #eeeeee;
}
.Logics
{
  border: 1px solid #404040;
  background: #121212 url(css/vader/images/ui-bg_gloss-wave_16_121212_500x100.png) 50% top repeat-x;
  background-size: 100% 100%;
  color: #eeeeee;
}
.templates
{
  border: 1px solid #404040;
  background: #121212 url(css/vader/images/ui-bg_gloss-wave_16_121212_500x100.png) 50% top repeat-x;
  background-size: 100% 100%;
  color: #eeeeee;
}
.ui-tabs-anchor
{
  font-size: 12px;
  padding: 2px;
}
#SearchBox
{
  font-size: 12px;
  width: 270px;
}
.ui-icon
{
  display: inline-block;
  vertical-align: middle;
}
#Workspace
{
  margin: 0 0 0 300px;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
#Workspace>div
{
  width: 100%;
  height: 100%;
  position: relative;
}
SVG
{
	position: absolute;
	z-index: 0;
  top: 0px;
  left: 0px;
}
#TempArea
{
  position: absolute;
  top: 84px;
  left: 301px;
  margin: 1px;
}
.ui-tabs-panel
{
  padding: 0;
}
.block
{
  border-radius: 0.7em;
  text-align: center;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 14;
  min-width: 200px;
  border-color: #40A040;
}
.variable
{
  border-radius: 0.7em;
  text-align: center;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 14;
  min-width: 125px;
  border-color: #4040D0;
}
.logic
{
  border-radius: 0.7em;
  text-align: center;
  display: inline-block;
	text-align: center;
	position: absolute;
	z-index: 1;
  font-size: 14;
  min-width: 125px;
  border-color: #4040D0;
}
.portIn, .portOut
{
	position: relative;
	font-size: 12px;
	font-family: Courier;
	display: block;
}
.portIn:hover, .portOut:hover
{
	background-color: rgba(255,255,255,0.1);
}
.portIn:before, .portOut:after
{
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	content: "";
	position: relative;
}
.portIn
{
	text-align: left;
	float: left;
	clear: left;
	padding: 2px 5px 2px 0;
}
.portIn:before
{
	left: -6px;
	vertical-align: middle;
}
.portIn>span
{
	display: inline-block;
	vertical-align: middle;
}
.portIn>span>a
{
	border: 1px solid #404040;
	background: #121212 url("css/vader/images/ui-bg_gloss-wave_16_121212_500x100.png") 50% top repeat-x;
	background-size: 100% 100%;
	font-size: 11px;
	color: #CCCCFF;
	text-align: center;
	display: block;
}
.portOut
{
	text-align: right;
	float: right;
	clear: right;
	padding: 2px 0 2px 5px;
}
.portOut:after
{
	left: 6px;
}
.portOut[type="any"]:after,
.portIn[type="any"]:before
{
	background: #444444;
}
.portOut[type="Flow"]:after,
.portIn[type="Flow"]:before
{
	background: Gray;
}
.portOut[type="Entity"]:after,
.portIn[type="Entity"]:before
{
	background: OrangeRed;
}
.portOut[type="vector3"]:after,
.portIn[type="vector3"]:before
{
	background: OliveDrab;
}
.portOut[type="int"]:after,
.portIn[type="int"]:before
{
	background: DodgerBlue;
}
.portOut[type="string"]:after,
.portIn[type="string"]:before
{
	background: Khaki;
}
.portOut[type="quaternion"]:after,
.portIn[type="quaternion"]:before
{
	background: MediumSpringGreen;
}
.portOut[type="bool"]:after,
.portIn[type="bool"]:before
{
	background: #FFFFFA;
}
.portOut[type="float"]:after,
.portIn[type="float"]:before
{
	background: DarkSalmon;
}
.portOut[type="TransformComponent"]:after,
.portIn[type="TransformComponent"]:before
{
	background: LightSteelBlue;
}
.portOut[type="CollisionComponent"]:after,
.portIn[type="CollisionComponent"]:before
{
	background: Orange;
}
.portOut[type="PhysicsComponent"]:after,
.portIn[type="PhysicsComponent"]:before
{
	background: Sienna;
}
.portOut[type="ScriptComponent"]:after,
.portIn[type="ScriptComponent"]:before
{
	background: DarkRed;
}
.portOut[type="int-pointer"]:after,
.portIn[type="int-pointer"]:before
{
	background: Fuchsia;
}
.TabInput
{
  position: absolute;
  top: 26px;
  left: 0px;
  display: inline-block;
  z-index: 2;
  width: 100px;
  height: 75px;
  margin: 1px;
}
.TabOutput
{
  position: absolute;
  top: 26px;
  left: 100%;
  display: inline-block;
  z-index: 2;
  width: 100px;
  height: 75px;
  margin: 1px;
  margin-left: -100px;
}
.selected
{
  border-color: DarkGoldenRod;
}
